# Dependencies
node_modules/
/node_modules/
g4l-ui/node_modules/

# Production
/dist
/build
/g4l-ui/dist
/g4l-ui/build
/g4l-ui/release/build/

# Testing
/coverage

# Electron specific
/g4l-ui/release/app/dist
.erb/dll

# Debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Audio files
*.wav
*.wav.asd

# Local folders
/tools/